.title{
    font-size: 50px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', serif;
}
.subtitle{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
}
.contact-item{
    font-size: 20px;
    color: #444;
    text-align: center;
    margin-top: 50px;
    font-family: 'Verdana', sans-serif;
}