#Bgpic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}
.toolbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}
.clickable {
    font-size: 20px;
    color: #007BFF;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: underline;
}
.clickable:hover {
    color: #0056b3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.20);
}