.nav-button {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #ffffffcc;
    border: none;
    padding: 10px 50px;
    font-size: 50px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 200ms ease;
    z-index: 15;
}
.nav-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
#project-body {
    position: relative;
    z-index: 1;
}
.title{
    font-size: 50px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', serif;
}
#projects-subtitle{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
}
.project-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.project-name{
    font-size: 22px;
    color: #444;
    text-align: center;
    margin-top: 0%;
    font-family: 'Arial', sans-serif;
    display: none;
    background-color: aliceblue;
    width: fit-content;
}
.project-image{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.project-image-wrapper {
    position: relative;
    width: 600px; 
    margin: 50px auto;
    overflow: hidden;
}

.dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    align-items: center;
    background: rgba(0,0,0,0.25); 
    padding: 6px 10px;
    border-radius: 20px;
}

.dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    background: #d7d7d7;
    cursor: pointer;
    transition: background-color 150ms ease;
}

.dot.active {
    background: #0d0000;
}

.project-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.highlight {    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    width: 80%;
    max-width: 800px;
    text-align: left;
}
.proj-image{
    width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}